:root {
    --cornflower: #151B25;
    --navyblue: #034687;
    --babyblue: #DBE8E1;
    --red: #E10032;
}

header {
    font-size: 40px;
    font-weight: 60px;
    color: var(--cornflower);
    padding: 10px;
    text-align: center;
    width: 100%;
    font-family: 'Major Mono Display', monospace;
    background: linear-gradient(45deg, #034687,#DBE8E1,#034687);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: beige;
    font-family: 'Major Mono Display', monospace;
}

.button {
    display: inline-block;
    margin-top: 10px;
    padding:10px 20px;
    font-size: 18px;
    background-color: var(--navyblue); 
    color: rgb(199, 199, 199);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Major Mono Display', monospace;
}

.button:hover {
    background-color: var(--red); 
}

.description {
    font-size: 20px;
    padding: 20px;
}

.description p {
    margin-bottom: 1em;
}

.Links {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.Links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Links li {
    margin: 0 15px;
}

.Links a {
    font-size: 20px;
    color: var(--babyblue);
    text-decoration: none;
    background-color: var(--navyblue);
    padding: 10px;
    border-radius: 40px;
    transition: background-color 0.3s ease-in-out;
}

.Links a:hover {
    background-color: var(--red);
}

footer {
    text-align: center;
    padding: 30px 0;
    width: 100%;
    margin-top: auto; 
    background: linear-gradient(to right, #DBE8E1,#034687,#DBE8E1);
}